<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.videomp4 = "<%= image_url('Sequence 01_CLIPCHAMP_keep.mp4') %>";
  window.videowebm = "<%= image_url('Sequence 01_CLIPCHAMP_keep.webm') %>";
  window.listingpic  =  "<%= image_url('listingPic.jpg') %>"
  window.logo =  "<%= image_url('carebnb.png') %>"
  window.guestNumber = "<%= image_url('guestNumber.png') %>"
  window.room = "<%= image_url('room.png') %>"
  window.bed = "<%= image_url('bed.png') %>"
  window.donation = "<%= image_url('donation.png') %>"
  window.logo = "<%= image_url('logo.png') %>"
  window.kitchen = "<%= image_url('kitchen.png') %>"
  window.internet = "<%= image_url('internet.png') %>"
  window.tv = "<%= image_url('tv.png') %>"
  window.ac = "<%= image_url('ac.png') %>"
  window.parking = "<%= image_url('parking.png') %>"
  window.family = "<%= image_url('family.png') %>"
  window.tealstar = "<%= image_url('tealstar.png') %>"
  window.greystar = "<%= image_url('greystar.png') %>"
  window.like = "<%= image_url('like.png') %>"
</script>
<main id="root"></main>
