<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.videomp4 = "<%= image_url('Sequence 01_CLIPCHAMP_keep.mp4') %>";
  window.videowebm = "<%= image_url('Sequence 01_CLIPCHAMP_keep.webm') %>";
  window.listingpic  =  "<%= image_url('listingPic.jpg') %>"
  window.logo =  "<%= image_url('carebnb.png') %>"
</script>
<main id="root"></main>
